body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
.content {
	font-size: 12px;
}
.dataview.table-view-table td {
font-size: 11px;
}
.dataview.table-view-table th {
font-size: 11px;
}
.external-link {
  background-image: none;
  padding-right: 0px;
}
.navbar-inner {
	h1 {
		font-size: 1em;
	};
}	
    //  h1 {
    //   color: black;
    //  }
    img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    } 

    .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
    }

h6 {
	font-family: var(--font-header-theme);
	font-weight: 600;
	color: #c03833;
	margin-block-end: -0.35em;
	padding: 2px 0px 0px 0px !important;
	letter-spacing: 0.03em;
}
    

/* Callouts */

body {
	--callout-radius: var(--radius-s);
	--callout-border-opacity: 30%;
	--callout-border-width: 0px;
	--callout-padding: 0 var(--size-4-3) var(--size-4-3) var(--size-4-6);
	--callout-radius: var(--radius-s);
	--callout-title-padding: 0;
	--callout-title-background: transparent;
	--callout-title-size: inherit;
	--callout-content-padding: 0;
}

.is-live-preview.is-readable-line-width>.cm-callout .callout {
	max-width: var(--max-width);
	margin: 0 auto;
}


/* --- inline footnotes --- */
.inf, .inf:hover, .inf:active, .inf:visited {
  background-color: #ffffff00;
  color: #212121 !important;
}

.theme-light .inf {
  background-color: transparent;
  color: #444445 !important;
}

.theme-dark .inf {
  background-color: transparent;
  color: #fbfbfb !important;
}

.inf,.inf:hover {
  text-decoration: none
} 

.inf,.inf:not(:hover) span.footnoteContent {
  display: none;
} 

.inf:hover span.footnoteContent {
  display: inline-block;
} 

.inf {
  padding: 2px 2px;
  border-radius: 3px;
  line-height: 1;
  vertical-align: text-top;
  font-size: 9px;
  margin: -2px 0 0;
  display: inline-block;
  font-weight: 500;
  border-bottom: 0;
  cursor: pointer
}

.inf span.footnoteContent {
  position: absolute;
  translate: 2px 10px;
  z-index: 10000;
  padding: 6px 10px;
  background-color: #fff;
  border: 0px solid #acacac;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.2);
  font-weight: 500;
  font-size: 10px;
  line-height: 1pc;
  letter-spacing: .01em;
  max-width: 300px
}

.theme-dark .inf span.footnoteContent {
  color: #f8f8f8;
  background-color: #121212;
  border: 1px solid #353536;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.5);
}

@media only screen and (min-device-width: 0px) and (max-device-width:480px) {
  .inf span.footnoteContent {
      position:fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%)
  }
}

/*--- end of inline footnotes ---*/
	
/* ---- jisoo's callouts ----- */

/* Sizing Fixes */
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout {
	padding: 0;
}

.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote,
.markdown-source-view.mod-cm6 .HyperMD-quote.HyperMD-callout+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote+.HyperMD-quote {
	padding: 0;
}

/* space for shadow */
.markdown-source-view.mod-cm6 .cm-embed-block.cm-callout {
	padding-bottom: 0px;
}

.callout {
	border-radius: 8px;
	transition: 70ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.callout-content {
	font-size: 11px;
	padding: 0px 1.5em;
	padding-top: 0em;
	padding-bottom: 0.1em;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.markdown-preview-view .callout-content {
	padding-top: 0.1em;
	padding-bottom: 2em;
  	padding-left: 20px;
	font-size: 11px;
}

.markdown-preview-view .callout-content ul {
	padding-top: 0.1em;
}

.markdown-preview-view .callout-content p {
	padding-bottom: 0.6em;
	font-size: 11px;
}

.callout-icon svg,
.callout-fold svg {
	height: var(--font-text-size);
	width: var(--font-text-size);
}

.callout-icon,
.callout-fold {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 4px;
}


/* General Styling */
.callout {
	border: 0px solid rgba(var(--callout-color), 0.2);
	overflow: hidden;
}

.theme-light .callout {
	background-color: rgba(var(--bg1), 0.3);
}

.theme-dark .callout {
	background-color: rgba(var(--bg1), 0.3);
}

.theme-light .callout-title .callout-icon {
	filter: brightness(0.75);
}

.theme-dark .callout-title .callout-icon {
	filter: brightness(1);
}

.theme-light .callout.is-collapsed .callout-title {
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

.theme-dark .callout.is-collapsed .callout-title {
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.175) inset;
}

.callout-fold {
	color: rgba(var(--callout-color), 1);
}

.theme-light .callout-fold {
	filter: brightness(0.75);
}

.theme-dark .callout-fold {
	filter: brightness(1);
}

.theme-light .callout-content {
	background: var(--color-light);
	border-left: 1px solid rgba(var(--callout-color), 0.2);
	border-right: 1px solid rgba(var(--callout-color), 0.2);
	border-bottom: 1px solid rgba(var(--callout-color), 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
		0 4px 8px rgba(0, 0, 0, 0.02), 0 2.3px 17.9px rgba(0, 0, 0, 0.03),
		0 12px 33.4px rgba(0, 0, 0, 0.03); 
	/* box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.05) inset; */
}

.theme-dark .callout-content {
	background: var(--color-dark);
	border-left: 1px solid rgba(var(--callout-color), 0.2);
	border-right: 1px solid rgba(var(--callout-color), 0.2);
	border-bottom: 1px solid rgba(var(--callout-color), 0.2);
	/* box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.175) inset; */
}

/* Callout Colors */
.theme-light,
.theme-dark {
	--callout-color-note: 200, 175, 155;
	--callout-color-abstract: 34, 152, 225;
	--callout-color-summary: 255, 221, 88;
	--callout-color-tldr: 240, 180, 225;
	--callout-color-info: 134, 153, 149;
	--callout-color-todo: 0, 171, 197;
	--callout-color-tip: 70, 206, 185;
	--callout-color-hint: 70, 206, 185;
	--callout-color-important: 244, 87, 93;
	--callout-color-celebrate: 100, 175, 255;
	--callout-color-celebrate-bg: linear-gradient(45deg, #ef92af70, #7bd7e970, #81e1a570, #ffda2b70);
	--callout-color-success: 100, 175, 255;
	--callout-color-success-bg: linear-gradient(45deg, #ef92af70, #7bd7e970, #81e1a570, #ffda2b70);
	--callout-color-check: 0, 200, 83;
	--callout-color-done: 0, 200, 83;
	--callout-color-question: 130, 190, 235;
	--callout-color-help: 150, 95, 255;
	--callout-color-faq: 130, 190, 235;
	--callout-color-warning: 255, 161, 32;
	--callout-color-caution: 255, 161, 32;
	--callout-color-attention: 255, 161, 32;
	--callout-color-failure: 226, 72, 86;
	--callout-color-missing: 226, 72, 86;
	--callout-color-danger: 226, 72, 86;
	--callout-color-error: 226, 72, 86;
	--callout-color-bug: 206, 91, 124;
	--callout-color-example: 173, 102, 234;
	--callout-color-quote: 158, 158, 158;
	--callout-color-cite: 158, 158, 158;
	/* Primary Custom Callouts */
	--callout-color-pro: 147, 241, 62;
	--callout-color-con: 255, 75, 75;
	--callout-color-idea: 247, 141, 25;
	--callout-color-morning: 149, 197, 194;
	--callout-color-trivia: 70, 206, 185;
}

/* Callout Type Styling */
.callout {
	--callout-color: 200, 175, 155;
}

.callout[data-callout=note] {
	--callout-color: 145, 125, 105;
}

.callout[data-callout=abstract] {
	--callout-icon: loader;
	--callout-color: 67, 106, 160;
}

.callout[data-callout=summary] {
	--callout-icon: align-justify;
	--callout-color: 255, 221, 88;
}

.callout[data-callout=summary] .callout-title {
	color: #e7b434;
}

.callout[data-callout=tldr] {
	--callout-icon: clock-4;
	--callout-color: 228, 171, 157;
}

.callout[data-callout=info] {
	--callout-color: 134, 153, 149;
}

.callout[data-callout=todo] {
	--callout-icon: check-square;
	--callout-color: 97, 160, 176;
}

.callout[data-callout=tip] {
	--callout-icon: clover;
	--callout-color: 136, 152, 146;
}

.callout[data-callout=hint] {
	--callout-icon: search;
	--callout-color: 100, 174, 162;
}

.callout[data-callout=important] {
	--callout-icon: asterisk;
	--callout-color: 189, 91, 80;
}

.callout[data-callout=check] {
	--callout-icon: check;
	--callout-color: 159, 183, 135;
}

.callout[data-callout=done] {
	--callout-icon: check;
	--callout-color: 124, 138, 99;
}

.callout[data-callout=question] {
	--callout-color: 134, 153, 149;
}

.callout[data-callout=help] {
	--callout-color: 134, 104, 172;
}

.callout[data-callout=faq] {
	--callout-color: 130, 190, 235;
}

.callout[data-callout=warning] {
	--callout-color: 222, 98, 84;
}

.callout[data-callout=caution] {
	--callout-color: 219, 173, 21;
}

.callout[data-callout=attention] {
	--callout-color: 119, 135, 186;
}

.callout[data-callout=fail],
.callout[data-callout=failure] {
	--callout-color: 222, 98, 84;
}

.callout[data-callout=missing] {
	--callout-color: 222, 98, 84;
}

.callout[data-callout=danger] {
	--callout-color: 238, 102, 12;
}

.callout[data-callout=error] {
	--callout-icon: alert-circle;
	--callout-color: 222, 98, 84;
}

.callout[data-callout=bug] {
	--callout-color: 162, 41, 93;
}

.callout[data-callout=example] {
	--callout-color: 134, 104, 172;
}

.callout[data-callout=quote] {
	--callout-color: 158, 158, 158;
}

.callout[data-callout=cite] {
	--callout-color: 158, 158, 158;
}

.callout[data-callout=pro] {
	--callout-icon: thumbs-up;
	--callout-color: 118, 192, 121;
}

.callout[data-callout=con] {
	--callout-icon: thumbs-down;
	--callout-color: 255, 75, 75;
}

.callout[data-callout=idea] {
	--callout-icon: lightbulb;
	--callout-color: 128, 165, 189;
}

.callout[data-callout=trivia] {
	--callout-icon: lightbulb;
	--callout-color: 158, 158, 158;
}

.callout[data-callout=morning] {
	--callout-icon: coffee;
	--callout-color: 149, 197, 194;
}


.callout[data-callout=meds] {
	--callout-icon: pill;
	--callout-color: 219, 115, 92;
}

.callout[data-callout=rads] {
	--callout-icon: bone;
	--callout-color: 124, 161, 154;
}


.callout[data-callout=profile] {
	--callout-icon: user;
	--callout-color: 158, 116, 158;
}

.callout[data-callout=prep] {
	--callout-icon: syringe;
	--callout-color: 110, 149, 174;
}

.callout[data-callout=stats] {
	--callout-icon: bar-chart-4;
	--callout-color: 110, 149, 174;
  float: right;
  width: 30%;
}

.callout[data-callout=litrev] {
	--callout-icon: bar-chart-3;
	--callout-color: 134, 149, 215;
}

.callout[data-callout="references"] {
	--callout-icon: link;
	--callout-color: 140, 140, 140;
}

.callout[data-callout="references"] .callout-content {
	text-indent: -50px;
	padding-left: 65px;
	padding-right: 15px;
}

.callout[data-callout*=celebrate],
.callout[data-callout*=success] {
	--callout-icon: flag;
	--callout-color: 100, 175, 255;
}

.callout[data-callout*=celebrate] .callout-title,
.callout[data-callout*=success] .callout-title {
	background: linear-gradient(45deg, #ef92af70, #7bd7e970, #81e1a570, #ffda2b70);
	background-size: 800% 800%;
	-webkit-animation: animateCelebrate 15s ease infinite;
	color: #1e2021;
}

.callout[data-callout*=celebrate] .callout-icon,
.callout[data-callout*=success] .callout-icon {
	transform: rotate(-20deg);
}

div.callout[data-callout*=celebrate] .callout-icon,
div.callout[data-callout*=celebrate] .callout-fold,
div.callout[data-callout*=success] .callout-icon,
div.callout[data-callout*=success] .callout-fold {
	color: var(--md-color-text);
}

.callout[data-callout*=fire] {
	--callout-icon: fire;
	--callout-color: 100, 175, 255;
}

.callout[data-callout*=fire] .callout-title {
	background: linear-gradient(45deg, #df4f3285, #ec995e70, #eca42070, #e9d16570);
	background-size: 800% 800%;
	-webkit-animation: animateCelebrate 15s ease infinite;
	color: #1e2021;
}

div.callout[data-callout*=fire] .callout-icon,
div.callout[data-callout*=fire] .callout-fold {
	color: var(--md-color-text);
}

/* animation for celebrate callout */
@-webkit-keyframes animateCelebrate {
	0% {
		background-position: 0% 47%;
	}

	50% {
		background-position: 100% 54%;
	}

	100% {
		background-position: 0% 47%;
	}
}

/* end of all the callout code */

/* raincards start */

.raincards table.dataview tbody {
    margin-top: 0px;
    margin-left: 5px;
}

.raincards table.dataview tbody>tr>td .el-p {    
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
	z-index: 2;
}

.raincards table.dataview>tbody>tr {
	width: 100%;
	height: auto;
	box-shadow: 0 4px 6px 0 rgb(0 0 0 / 5%)
}

.raincards table.dataview>tbody>tr:hover {
	box-shadow: 2px 8px 12px 6px rgb(0 0 0 / 100%) !important, 0 1px 3px 1px rgb(0 0 0 / 3%);
}

/* .raincards table.dataview tbody>tr>td:first-child:after {
	background-color: green;
	z-index: -1;
} */


body:not(.no-wrapped-dvtable) :is(.markdown-preview-view,.markdown-rendered) .table-view-table>tbody>tr>td, body:not(.no-wrapped-dvtable) .markdown-source-view.mod-cm6 .table-view-table>tbody>tr>td {
	max-width: 100%;
}

.raincards table.dataview tbody>tr>td:first-child, .markdown-source-view.mod-cm6.raincards .dataview.table-view-table>tbody>tr>td:first-child {
	background-color: var(--raincards-title-background);
	padding: 0px, 0px, 5.6px ;
}

/* 大一些的阴影取消 */
/* box shadow disabled */

:is(.markdown-preview-view,.markdown-rendered) table {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* minimal原本设置 */
/* minimal original settings */

:root {
	--raincards-min-width: 200px;
	--raincards-max-width: 1fr;
	--raincards-mobile-width: 120px;
	--raincards-image-height: 400px;
	--raincards-padding: 1.2em;
	--raincards-image-fit: contain;
	--raincards-border-width: 0px;
	/* 新参数 new params rgb(220, 239, 239)*/
	--raincards-title-background: transparent
}

.theme-light {
	--raincards-background: rgba(249, 249, 249, 0.925);
}

.theme-dark {
	--raincards-background: rgba(36, 36, 38, 0.925);
}

@media (max-width:400pt) {
	:root {
		--raincards-min-width: var(--raincards-mobile-width)
	}
}


.raincards.table-100 table.dataview tbody,
.table-100 .raincards table.dataview tbody {
	padding: .25rem .75rem
}

.raincards .el-pre+.el-lang-dataview .table-view-thead {
	padding-top: 8px
}

.raincards table.dataview>tbody>tr {
	/* background-color: rgba(249, 249, 249, 0.925); */
	background-color: var(--background-primary);
}

.raincards table.dataview tbody {
	clear: both;
	padding: .5rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--raincards-min-width), var(--raincards-max-width)));
	grid-column-gap: 0.75rem;
	grid-row-gap: 0.75rem
}

.raincards table.dataview>tbody>tr {
	background-color: var(--raincards-background);
	border: var(--raincards-border-width) solid var(--background-modifier-border);
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0 0 calc(var(--raincards-padding)/3) 0;
	border-radius: 6px;
	overflow: hidden;
	transition: box-shadow .15s linear
}

.raincards table.dataview>tbody>tr:hover {
	border: var(--raincards-border-width) solid var(--background-modifier-border-hover);
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .05), 0 1px 3px 1px rgba(0, 0, 0, .025);
	transition: box-shadow .15s linear
}

.markdown-source-view.mod-cm6.raincards .dataview.table-view-table>tbody>tr>td,
.trim-cols .raincards table.dataview tbody>tr>td {
	white-space: normal
}

.raincards table.dataview tbody>tr>td,
.markdown-source-view.mod-cm6.raincards .dataview.table-view-table>tbody>tr>td {
	border-bottom: none;
	padding: 0 !important;
	line-height: 1.2;
	width: calc(100% - var(--raincards-padding));
	margin: 0 auto;
	overflow: visible !important;
	max-width: 100%;
	display: flex
}

.raincards table.dataview tbody>tr>td .el-p {
	display: block;
	width: 100%
}

.raincards table.dataview tbody>tr>td:first-child {
	font-weight: var(--bold-weight)
}

.raincards table.dataview tbody>tr>td:first-child a {
	padding: 0 0 calc(var(--raincards-padding)/3);
	display: block
}

.raincards table.dataview tbody>tr>td:not(:first-child) {
	font-size: 90%;
	color: var(--text-muted)
}

@media (max-width:400pt) {
	.raincards table.dataview tbody>tr>td:not(:first-child) {
		font-size: 80%
	}
}

.raincards-cover.raincards table.dataview tbody>tr>td img {
	object-fit: cover
}

.raincards-16-9.raincards table.dataview tbody>tr>td img {
	aspect-ratio: 16/9
}

.raincards-1-1.raincards table.dataview tbody>tr>td img {
	aspect-ratio: 1/1
}

.raincards-2-1.raincards table.dataview tbody>tr>td img {
	aspect-ratio: 2/1
}

.raincards-2-3.raincards table.dataview tbody>tr>td img {
	aspect-ratio: 2/3
}

.raincards-align-bottom.raincards table.dataview tbody>tr>td:last-child {
	align-items: flex-end;
	flex-grow: 1
}

.raincards-cols-1 table.dataview tbody {
	grid-template-columns: repeat(1, minmax(0, 1fr))
}

.raincards-cols-2 table.dataview tbody {
	grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media (min-width:400pt) {
	.raincards-cols-3 table.dataview tbody {
		grid-template-columns: repeat(3, minmax(0, 1fr))
	}

	.raincards-cols-4 table.dataview tbody {
		grid-template-columns: repeat(4, minmax(0, 1fr))
	}

	.raincards-cols-5 table.dataview tbody {
		grid-template-columns: repeat(5, minmax(0, 1fr))
	}

	.raincards-cols-6 table.dataview tbody {
		grid-template-columns: repeat(6, minmax(0, 1fr))
	}

	.raincards-cols-7 table.dataview tbody {
		grid-template-columns: repeat(7, minmax(0, 1fr))
	}

	.raincards-cols-8 table.dataview tbody {
		grid-template-columns: repeat(8, minmax(0, 1fr))
	}
}

.raincards table.dataview tbody>tr>td>:not(.el-embed-image) {
	padding: calc(var(--raincards-padding)/3) 0
}

.raincards table.dataview tbody>tr>td:not(:last-child):not(:first-child)>.el-p:not(.el-embed-image) {
	border-bottom: 1px solid var(--background-modifier-border);
	width: 100%
}

.raincards table.dataview tbody>tr>td a {
	text-decoration: none
}

.links-int-on .raincards table.dataview tbody>tr>td a {
	text-decoration: none
}

.raincards table.dataview tbody>tr>td>button {
	width: 100%;
	margin: calc(var(--raincards-padding)/2) 0
}

.raincards table.dataview tbody>tr>td:last-child>button {
	margin-bottom: calc(var(--raincards-padding)/6)
}

.raincards table.dataview tbody>tr>td>ul {
	width: 100%;
	padding: .25em 0 !important;
	margin: 0 auto !important
}

.raincards table.dataview tbody>tr>td:not(:last-child)>ul {
	border-bottom: 1px solid var(--background-modifier-border)
}

.raincards table.dataview tbody>tr>td .el-embed-image {
	background-color: var(--background-secondary);
	display: block;
	margin: 0 calc(var(--raincards-padding)/-2) 0 calc(var(--raincards-padding)/-2);
	width: calc(100% + var(--raincards-padding))
}

.raincards table.dataview tbody>tr>td img {
	width: 100%;
	object-fit: var(--raincards-image-fit);
	max-height: var(--raincards-image-height);
	background-color: var(--background-secondary);
	vertical-align: bottom;
    margin-top: 5px;
}

.markdown-source-view.mod-cm6.raincards .edit-block-button {
	top: 0;
	right: 26px;
	opacity: 1;
	background-color: transparent
}

.raincards.table-100 table.dataview thead>tr,
.table-100 .raincards table.dataview thead>tr {
	right: .75rem
}

.raincards.table-100 table.dataview thead:before,
.table-100 .raincards table.dataview thead:before {
	margin-right: .75rem
}

.raincards table.dataview thead {
	user-select: none;
	width: 180px;
	display: block;
	float: right;
	position: relative;
	text-align: right;
	height: 24px;
	padding-bottom: 4px
}

.raincards table.dataview thead:before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	height: var(--icon-size);
	background-repeat: no-repeat;
	cursor: var(--cursor);
	text-align: right;
	padding: 4px 10px;
	margin-bottom: 2px;
	border-radius: 5px;
	font-weight: 500;
	font-size: var(--font-adaptive-small)
}

.raincards table.dataview thead:before {
	opacity: .25;
	background-position: center center;
	background-size: var(--icon-size);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="white" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>')
}

.theme-light .raincards table.dataview thead:before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100"><path fill="black" d="M49.792 33.125l-5.892 5.892L33.333 28.45V83.333H25V28.45L14.438 39.017L8.542 33.125L29.167 12.5l20.625 20.625zm41.667 33.75L70.833 87.5l-20.625 -20.625l5.892 -5.892l10.571 10.567L66.667 16.667h8.333v54.883l10.567 -10.567l5.892 5.892z"></path></svg>')
}

.raincards table.dataview thead:hover:before {
	opacity: .5
}

.raincards table.dataview thead>tr {
	top: 0;
	position: absolute;
	display: none;
	z-index: 9;
	border: 1px solid var(--background-modifier-border);
	background-color: var(--background-secondary);
	box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
	padding: 6px;
	border-radius: 6px;
	flex-direction: column;
	margin: 26px 0 0 0;
	width: 100%
}

.raincards table.dataview thead:hover>tr {
	display: flex
}

.raincards table.dataview thead>tr>th {
	display: block;
	padding: 3px 30px 3px 6px !important;
	border-radius: 5px;
	width: 100%;
	font-weight: 400;
	color: var(--text-muted);
	cursor: var(--cursor);
	border: none;
	font-size: var(--font-adaptive-small)
}

.raincards table.dataview thead>tr>th[sortable-style=sortable-asc],
.raincards table.dataview thead>tr>th[sortable-style=sortable-desc] {
	color: var(--text-normal)
}

.raincards table.dataview thead>tr>th:hover {
	color: var(--text-normal);
	background-color: var(--background-tertiary)
}
/* raincards end */



/* blockquote things */
	
body {
  --blockquote-border-thickness: 0;
  --blockquote-size: 10px;
  --blockquote-font-style: inherit;
  --blockquote-color: inherit;
  --blockquote-background-color: inherit;
  --blockquote-border-color: var(--background-modifier-border);
}

.markdown-rendered blockquote {
  font-size: var(--blockquote-size);
  color: var(--blockquote-color);
  font-style: var(--blockquote-font-style);
  background-color: var(--blockquote-background-color);
  border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  border-radius: 8px;
  margin-top: 1.5em;
  padding: 12px 16px 12px 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  quotes: "\201c" "\201d" "\2018" "\2019";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
  0 4px 8px rgba(0, 0, 0, 0.02), 0 2.3px 17.9px rgba(0, 0, 0, 0.03),
  0 12px 33.4px rgba(0, 0, 0, 0.03);
}

.blockquote-marker .markdown-rendered blockquote {
  border-left: none;
}

.blockquote-marker .markdown-rendered blockquote:before {
  content: "";
  display: block;
  margin-bottom: 4px;
  height: var(--blockquote-border-thickness);
  width: 32px;
  background: var(--blockquote-border-color);
  background-size: 16px 2px;
}

.blockquote-border .markdown-rendered blockquote {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  border-bottom: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  border-left: none;
}

.blockquote-border .markdown-rendered blockquote::before {
  content: none;
  width: 0;
  background: none;
}

.cm-s-obsidian span.cm-quote {
  color: var(--blockquote-color);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  font-style: var(--blockquote-font-style);
  border: 0 solid var(--blockquote-border-color);
  border-left-width: var(--blockquote-border-thickness);
  background-color: var(--blockquote-background-color);
}

.blockquote-marker .markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  border-left: none;
}

.blockquote-marker .markdown-source-view.mod-cm6 .cm-blockquote-border {
  border-left: none;
}

}
